/build/
/ISO/
/output/
/tmp/
/local/
/private/
/prepared/
__pycache__/
*.pyc
*.pyo
*.log
*.iso
*.deb
*.mbn
*.cat
*.inf
*.sys
*.reg
*.hiv
*.qcow2
*.img
*.zip
*.tar.gz
*.png
*.jpg
*.jpeg
*.pdf
!/docs/DevKit2023CustomLinux-Guide.pdf
