set default=0
set timeout=5

if loadfont unicode; then
  set gfxmode=auto
  terminal_output gfxterm
fi

menuentry "Install DevKit2023CustomLinux" {
  search --no-floppy --file --set=root /DEVKIT2023CUSTOMLINUX_ID
  devicetree /boot/dtbs/sc8280xp-microsoft-blackrock.dtb
  linux /live/vmlinuz boot=live components username=devkit user-fullname="DevKit2023CustomLinux Live" hostname=devkit2023 locales=en_US.UTF-8 clk_ignore_unused pd_ignore_unused modprobe.blacklist=msm,qcom_q6v5_pas,snd_soc_sc8280xp systemd.show_status=1
  initrd /live/initrd.img
}
